---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.astro';
import VectorSpace from '../../components/VectorSpace.astro';
import '../../styles/components/home.scss';
import { t } from '../../i18n/utils';
import { getCollection } from 'astro:content';

const tr = t('es');
const posts = await getCollection('posts', ({ data }) => data.locale === 'es');
const latestPost = posts[0];
---

<BaseLayout title="Sitio web de Leunel">
	<section class="hero">
		<div class="container">
			<div class="content-wrapper">
				<VectorSpace />
			</div>
		</div>
	</section>
	<main class="container">
		<div class="content-wrapper">
			<p class="last-posts">{tr.home.lastPosts}</p>
			{latestPost && (
				<PostPreview
					title={latestPost.data.title}
					content={latestPost.data.description}
					date={`${tr.posts.postedOn} ${latestPost.data.date}`}
					href={`/es/posts/${latestPost.data.slug}`}
				/>
			)}
		</div>
	</main>
	<section class="container more-post">
		<div class="content-wrapper">
			<a class="more-post__link" href="/es/posts/">{tr.home.allPosts} &rarr;</a>
		</div>
	</section>
</BaseLayout>
